<nav class="flex flex-wrap sm:flex-nowrap justify-between items-center md:justify-center lg:justify-between w-full bg-secondary border-gray-200 px-4 lg:px-20 xl:px-[128px] py-4">
  <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse w-auto">
    <img [routerLink]="['']" src="img/logo.png" alt="" class="cursor-pointer">
  </a>
  <button
    type="button"
    class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
    aria-controls="navbar-dropdown"
    (click)="openMenu()"
  >
    <span class="sr-only">Open main menu</span>
    <svg
      class="w-5 h-5"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 17 14"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M1 1h15M1 7h15M1 13h15"
      />
    </svg>
  </button>
  <!--button (click)="openMenu()">Hi</button-->
  <div class="hidden w-full md:block md:w-auto"   id="navbar-dropdown">
    <ul
      class="flex flex-col font-medium p-4 md:p-0 mt-4 rounded-lg rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-secondary dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
    >
      @for(route of routeOptions; track route.name) {
      <li class="flex items-center justify-center">
        <a
          [ngClass]="{'blue-button': route.name === 'CONTACTO', 'my_class2' :  route.name === 'ES' }"
          (click)="handleClick(route.path)"
          class="block py-2 pl-3 pr-4 p6-ws text-center text-blueDark"
          aria-current="page"
          >   
          @if(route.name == 'ES'){
            <img class="w-[24px] h-[24px]" src="img/language.png" alt=""> 
          }
          {{ route.name }}</a
        >
      </li>
      }
    </ul>
  </div>
  @if(show){
    <div class="w-full md:w-auto md:hidden">
      <ul
      class="flex flex-col font-medium p-4 md:p-0 mt-4 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-secondary dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
    >
      <!--li>
        <a
          href="#"
          class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
          > <img class="w-[24px] h-[24px] cursor-pointer" src="img/home.png" [routerLink]="['']" alt=""></a
        >
      </li-->
      @for(route of routeOptions; track route.name) {
        <li class="flex items-center">
          <a
            [ngClass]="{ 'my_class2' :  route.name === 'ES' }"
            href="#"
            (click)="handleClick(route.path)"
            class="block py-2 pl-3 pr-4 p6-ws text-center text-blueDark"
            aria-current="page"
            >   
            @if(route.name == 'ES'){
              <img class="w-[24px] h-[24px]" src="img/language.png" alt=""> 
            }
            {{ route.name }}</a
          >
        </li>
      }
    </ul>
    </div>
  }
</nav>
