<fwa-banner></fwa-banner>
<div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-6 gap-5 sm:gap-20 mb-20 sm:py-0 sm:px-0">
  <section class="lg:col-span-3 md:col-span-6 sm:col-span-6 py-20 pl-20 md:pl-0 md:pr-0 sm:pl-10 sm:pr-10">
    <div class="flex flex-col items-end ml-[15%] mr-[15%] md:mr-[15%] lg:mr-0 lg:ml-[15%] md:ml-[15%] sm:mr-[10px] sm:mx-10">
      <h2 class="font-medium font-title-ligth mb-[8%]">
        Forex Básico
      </h2>
      <p class="text-right font-p-ligth ml-[10%]">
        El mercado FOREX, o el mercado de divisas es el mercado donde se
        negocian las divisas. En su forma más simple, una transacción de divisas
        puede ser, por ejemplo, cuando cambias tu moneda local a una nueva para
        unas próximas vacaciones.
      </p>
      <br />
      <p class="text-right font-p-ligth ml-[10%]">
        Este curso está diseñado para personas con poco o nada de conocimiento
        sobre trading. En el aprenderás de manera sencilla, practica como
        realizar inversiones en mercados de divisas de la forma correcta
        aprendiendo de la mano de nuestros traders expertos.
      </p>
      <!--fwa-button>Conocer más</fwa-button-->
    </div>
  </section>
  <section class="lg:col-span-3 md:col-span-6 sm:col-span-6 py-20 px-20 md:pl-0 sm:pl-10 lg:ml-0 md:ml-[10%]">
    <div>
      <img src="img/product-forex.png" alt="" />
    </div>
  </section>

  <section class="md:col-span-6 sm:col-span-6 px-20 md:pl-0 sm:pl-10 lg:ml-0 md:ml-[10%]">
      <h1 class="font-bold text-[32px] text-center text-[#0C2B4B]">
        {{ "PRODUCTS-DETAIL.title" | translate }}
      </h1>
  </section>

  <section class="lg:col-span-3 md:col-span-6 sm:col-span-6 lg:ml-[15%] mb-0 sm:px-5 sm:py-5 pl-20  sm:pl-10 sm:pr-10">
     
    <div class="md:ml-[10%] md:mr-[10%]">
      @for( item of pDetail; track item.title) {
        <app-alert-message
          [customTitle]="item.title"
          [customIcon]="item.icon"
          [customColor]="item.color"
        ></app-alert-message>
        }
    </div>
        <div class="md:ml-[12%] lg:ml-[12%] md:mr-[10%]  w-[50%]">
          <fwa-button (onClick)="onClick.emit()"  class="px-4">
            <img src="img/cart-light.png" alt=""  />
            Agregar al carrito
        </fwa-button>
        </div>
    
      <!--fwa-button>Conocer más</fwa-button-->
  </section>
  <section class="lg:col-span-3 md:col-span-6 sm:col-span-6 lg:mr-[15%] mb-0 sm:px-5 sm:py-5 pl-20  sm:pl-10 sm:pr-10">
    <div class="md:mr-[10%] md:ml-[10%]">
      @for( item of pDetail2; track item.title) {
        <app-alert-message
          [customTitle]="item.title"
          [customIcon]="item.icon"
          [customColor]="item.color"
        ></app-alert-message>
        }
    </div>
   
      <div class="md:ml-[12%] lg:ml-[12%] md:mr-[10%] mt-4 w-[50%]">
        <fwa-button type="outlet" size="large" class="px-4" (onClick)="onClick.emit()">
          Volver al carrito
      </fwa-button>
      </div>
  </section>

  
</div>
