<fwa-banner/>
<div class="flex flex-col gap-32">
    <!-- start about us section -->
    <section class="flex flex-col sm:flex-row pt-20 px-20 gap-10">
        <img src="img/phone.png" alt="">
        <div class="flex flex-col">
            <h1 class="text-4xl font-semibold text-blueDark pb-4">¿Quiénes somos?</h1>
            <p class="text-2xl font-light text-[#000000] pb-8">Somos una Academia de trading con mas de 6 años de experiencia en los Mercados financieros. Donde nos hemos especializado en la educación, creación de sistemas automáticos de trading y gestión de capitales. A través de Metodologías probadas y testeadas que generan una rentabilidad sostenible si se cumplen cada uno de los parametros enseñados por nuestros profesores.</p>
            <p class="text-lg font-normal text-[#000000] px-16">Nuestra metodología de aprendizaje se basa en el input concept donde aprenderás a través de mucha más práctica que teoria. Te adaptaras a operar en mercados financieros desde lo más básico en cada uno de nuestros cursos y trabajaremos el manejo de las emociones en cada modelo de inversión.</p>
        </div>     
    </section>
    <!-- end about us section -->

    <!-- start more information section -->
    <section class="flex flex-col sm:flex-row px-28 mb-20 gap-20">
        <div class="flex flex-col items-end">
            <p class="text-right mb-10">Ayudarte a construir tu camino como inversionista sólido, consistente y estable en mediano y largo plazo es nuestro principal objetivo. Te brindaremos las herramientas para que alcances tus metas pero sólo tú puedes decidir si tomar el camino correcto o dejarlo pasar. Para aprender bien el trading no necesitas ser un genio. Solo necesitas tener la guía correcta.</p>
            <ul>
                <li class="flex justify-end gap-2 pb-4">Información organizada <img src="img/check.png" alt=""></li>
                <li class="flex justify-end gap-2 pb-4">Guías digitales <img src="img/check.png" alt=""></li>
                <li class="flex justify-end gap-2 pb-4">Prácticas personalizadas <img src="img/check.png" alt=""></li>
                <li class="flex justify-end gap-2 pb-4">Trading en vivo <img src="img/check.png" alt=""></li>
            </ul>
            <fwa-button class="w-full">
                <img src="img/message.png" alt=""> Quiero más información
            </fwa-button>
        </div>
        <img class="w-full sm:w-[840px] h-[472px] border-primary border-2 rounded-[30px]" src="img/information.png" alt="">
        
    </section>
    <!-- end more information section -->
</div>