<section
  class="grid grid-cols-1 h-screen sm:h-auto sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-1"
>
  <div class="col-span-1 h-screen">
    <div class="w-full flex flex-col">
      <div class="w-full">
        <div class="max-w-4xl font-[sans-serif]">
          <form [formGroup]="userInformationForm">
            <div class="grid md:grid-cols-2 sm:grid-cols-1 lg:grid-cols-2 mb-8">
              <div>
                <div class="flex">
                  <label class="p2-ws font-semibold text-blueDark"
                    >Información personal</label
                  >
                </div>
              </div>
            </div>
            <div
              class="grid md:grid-cols-2 sm:grid-cols-1 lg:grid-cols-2 gap-4 md:gap-8"
            >
              <div>
                <label class="font-register p7-ps mb-2 block">Nombre</label>
                <input
                  name="name"
                  formControlName="name"
                  type="text"
                  class="bg-gray-100 w-full text-gray-800 p7-ps px-4 py-2.5 rounded-md focus:bg-transparent outline-blue-500 transition-all"
                  placeholder="Enter name"
                />
              </div>
              <div>
                <label class="font-register p7-ps mb-2 block">Apellido</label>
                <input
                  name="lastname"
                  formControlName="lastName"
                  type="text"
                  class="bg-gray-100 w-full text-gray-800 p7-ps px-4 py-2.5 rounded-md focus:bg-transparent outline-blue-500 transition-all"
                  placeholder="Enter last name"
                />
              </div>
              <div>
                <div class="flex">
                  <label class="font-register p7-ps mb-2 block"
                    >Correo electrónico</label
                  >
                  <span class="text-red-500 ml-2">*</span>
                </div>

                <input
                  name="email"
                  formControlName="email"
                  type="text"
                  class="bg-gray-100 w-full text-gray-800 p7-ps px-4 py-2.5 rounded-md focus:bg-transparent outline-blue-500 transition-all"
                  placeholder="Enter email"
                />
              </div>
              <div>
                <label class="font-register p7-ps mb-2 block">Teléfono</label>
                <input
                  name="phone"
                  formControlName="phone"
                  type="text"
                  class="bg-gray-100 w-full text-gray-800 p7-ps px-4 py-2.5 rounded-md focus:bg-transparent outline-blue-500 transition-all"
                  placeholder="Enter mobile number"
                />
              </div>
            </div>

            <div class="grid sm:grid-cols-1 gap-4 md:gap-8 mt-10">
              <div class="grid sm:grid-cols-1 grid-cols-1">
                <div>
                  <div class="flex">
                    <label class="p2-ws font-semibold text-blueDark"
                      >Cambio de contraseña</label
                    >
                  </div>
                </div>
              </div>
              <div class="grid sm:grid-cols-1 grid-cols-1 mt-2">
                <div>
                  <div class="flex">
                    <label class="font-register p7-ps mb-2 block"
                      >Contraseña actual</label
                    >
                  </div>
                  <div class="flex w-full relative">
                    <input
                    formControlName="oldpassword"
                    name="password"
                    type="password"
                    class="bg-gray-100 w-full text-gray-800 p7-ps px-4 py-2.5 rounded-lg focus:bg-transparent outline-blue-500 transition-all"
                    placeholder="Enter password"
                    />
                    <svg class="absolute right-4 bottom-3 w-4 sm:w-5" viewBox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0 5C0.60854 2.15542 3.51111 0 7.00002 0C10.4889 0 13.3915 2.15542 14 5C13.3915 7.84456 10.4889 10 7.00002 10C3.51111 10 0.60854 7.84456 0 5ZM7.00002 7.77778C8.78673 7.77778 10.2352 6.53411 10.2352 5C10.2352 3.46588 8.78673 2.22222 7.00002 2.22222C5.21327 2.22222 3.76483 3.46588 3.76483 5C3.76483 6.53411 5.21327 7.77778 7.00002 7.77778ZM7.00002 6.66667C5.92795 6.66667 5.0589 5.9205 5.0589 5C5.0589 4.0795 5.92795 3.33333 7.00002 3.33333C8.07202 3.33333 8.94112 4.0795 8.94112 5C8.94112 5.9205 8.07202 6.66667 7.00002 6.66667Z" fill="#585B62"/>
                    </svg>
                  </div>
                </div>
              </div>
              <div class="grid sm:grid-cols-1 grid-cols-1 mt-2">
                <div>
                  <div class="flex">
                    <label class="font-register p7-ps mb-2 block"
                      >Nueva contraseña (Ingresa tu nueva contraseña)</label
                    >
                  </div>
                  <div class="flex w-full relative">
                    <input
                    formControlName="password"
                      name="password"
                      type="password"
                      class="bg-gray-100 w-full text-gray-800 p7-ps px-4 py-2.5 rounded-lg focus:bg-transparent outline-blue-500 transition-all"
                      placeholder="Enter password"
                      
                    />
                    <svg class="absolute right-4 bottom-3 w-4 sm:w-5" viewBox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0 5C0.60854 2.15542 3.51111 0 7.00002 0C10.4889 0 13.3915 2.15542 14 5C13.3915 7.84456 10.4889 10 7.00002 10C3.51111 10 0.60854 7.84456 0 5ZM7.00002 7.77778C8.78673 7.77778 10.2352 6.53411 10.2352 5C10.2352 3.46588 8.78673 2.22222 7.00002 2.22222C5.21327 2.22222 3.76483 3.46588 3.76483 5C3.76483 6.53411 5.21327 7.77778 7.00002 7.77778ZM7.00002 6.66667C5.92795 6.66667 5.0589 5.9205 5.0589 5C5.0589 4.0795 5.92795 3.33333 7.00002 3.33333C8.07202 3.33333 8.94112 4.0795 8.94112 5C8.94112 5.9205 8.07202 6.66667 7.00002 6.66667Z" fill="#585B62"/>
                    </svg>
                  </div>
                </div>
              </div>
              <div class="grid sm:grid-cols-1 grid-cols-1 mt-2">
                <div>
                  <div class="flex">
                    <label class="font-register p7-ps mb-2 block"
                      >Confirmar nueva contraseña</label
                    >
                  </div>
                  <div class="flex w-full relative">
                    <input
                    formControlName="checkpassword"
                      name="password"
                      type="password"
                      class="bg-gray-100 w-full text-gray-800 p7-ps px-4 py-2.5 rounded-lg focus:bg-transparent outline-blue-500 transition-all"
                      placeholder="Enter password"
                    />
                    <svg class="absolute right-4 bottom-3 w-4 sm:w-5" viewBox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0 5C0.60854 2.15542 3.51111 0 7.00002 0C10.4889 0 13.3915 2.15542 14 5C13.3915 7.84456 10.4889 10 7.00002 10C3.51111 10 0.60854 7.84456 0 5ZM7.00002 7.77778C8.78673 7.77778 10.2352 6.53411 10.2352 5C10.2352 3.46588 8.78673 2.22222 7.00002 2.22222C5.21327 2.22222 3.76483 3.46588 3.76483 5C3.76483 6.53411 5.21327 7.77778 7.00002 7.77778ZM7.00002 6.66667C5.92795 6.66667 5.0589 5.9205 5.0589 5C5.0589 4.0795 5.92795 3.33333 7.00002 3.33333C8.07202 3.33333 8.94112 4.0795 8.94112 5C8.94112 5.9205 8.07202 6.66667 7.00002 6.66667Z" fill="#585B62"/>
                    </svg>
                  </div>
                  
                </div>
              </div>
              <!--div class="grid sm:grid-cols-2 grid-cols-1 gap-3 mt-4">
                <div>
                  <label class="font-register p7-ps mb-2 block"
                    >Confirmar nueva contraseña</label
                  >
                  <input
                    name="password"
                    type="password"
                    class="bg-gray-100 w-full text-gray-800 p7-ps px-4 py-2.5 rounded-lg focus:bg-transparent outline-blue-500 transition-all"
                    placeholder="Enter password"
                  />
                </div>
                <div>
                  <label class="font-register p7-ps mb-2 block"
                    >Confirmar contraseña</label
                  >
                  <input
                    name="password"
                    type="password"
                    class="bg-gray-100 w-full text-gray-800 p7-ps px-4 py-2.5 rounded-lg focus:bg-transparent outline-blue-500 transition-all"
                    placeholder="Enter password"
                  />
                </div>
              </div-->
              <div class="w-full sm:w-1/2 py-[15px]">
                <button class="btn btn-outlet-primary" (click)="updateUserPassword()">Guardar cambios</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<p-toast />
<p-confirmDialog>
    <ng-template pTemplate="message" let-message>
        <div class="flex flex-column align-items-center w-full gap-3 border-bottom-1 surface-border">
            <i class="pi pi-exclamation-circle text-6xl text-primary-500"></i>
            <p>{{ message.message }}</p>
        </div>
    </ng-template>
</p-confirmDialog>
