.tile-font-dark{
    font-family: 'Work Sans';
    font-weight: 600;
    font-size: 22px;
    line-height: 25.81px;
    color: #0C2B4B;

}

.font-register{
    font-family: Montserrat;
    font-size: 14px;
    color: #0C2B4B;
    font-weight: 400;
}

.font-title-register{
    font-family: Work Sans;
    font-size: 21px;
    color: #080808;
}

.font-register-ligth{
    font-family: Work Sans;
    font-size: 14px;
    color: #0C2B4B;
}

.font-title-ligth{
    font-family: Work Sans;
    font-size: 21px;
    color: #FFFFFF;
}
