<section
  class="grid grid-cols-1 h-screen px-[5%] lg:px-[10%] py-[10%] sm:h-auto sm:grid-cols-1 px-0 py-0 md:grid-cols-1 lg:grid-cols-1 md:gap-0 sm:gap-0 lg:gap-0"
>
  <div class="col-span-1 h-screen">
    <div class="w-full flex flex-col">
      <div class="w-full">
        <div class="max-w-4xl mx-auto font-[sans-serif]">
          <form [formGroup]="userInformationForm">
            <div class="grid md:grid-cols-2 sm:grid-cols-1 lg:grid-cols-2 mt-2">
              <div>
                <div class="flex">
                  <label class="p2-ws font-semibold text-blueDark mb-[5%] mt-[5%]"
                    >Información personal</label
                  >
                </div>
              </div>
            </div>
            <div
              class="grid md:grid-cols-2 sm:grid-cols-1 lg:grid-cols-2 gap-3 mb-2 mt-4"
            >
              <div>
                <label class="font-register p7-ps mb-2 block">Nombre</label>
                <input
                  name="name"
                  formControlName="name"
                  type="text"
                  class="bg-gray-100 w-full text-gray-800 p7-ps px-4 py-2.5 rounded-md focus:bg-transparent outline-blue-500 transition-all"
                  placeholder="Enter name"
                />
              </div>
              <div>
                <label class="font-register p7-ps mb-2 block">Apellido</label>
                <input
                  name="lastname"
                  formControlName="lastName"
                  type="text"
                  class="bg-gray-100 w-full text-gray-800 p7-ps px-4 py-2.5 rounded-md focus:bg-transparent outline-blue-500 transition-all"
                  placeholder="Enter last name"
                />
              </div>
              <div>
                <div class="flex">
                  <label class="font-register p7-ps mb-2 block"
                    >Correo electrónico</label
                  >
                  <span class="text-red-500 ml-2">*</span>
                </div>

                <input
                  name="email"
                  formControlName="email"
                  type="text"
                  class="bg-gray-100 w-full text-gray-800 p7-ps px-4 py-2.5 rounded-md focus:bg-transparent outline-blue-500 transition-all"
                  placeholder="Enter email"
                />
              </div>
              <div>
                <label class="font-register p7-ps mb-2 block">Teléfono</label>
                <input
                  name="phone"
                  formControlName="phone"
                  type="text"
                  class="bg-gray-100 w-full text-gray-800 p7-ps px-4 py-2.5 rounded-md focus:bg-transparent outline-blue-500 transition-all"
                  placeholder="Enter mobile number"
                />
              </div>
            </div>

            <div class="grid sm:grid-cols-1 mt-2">
              <div class="grid sm:grid-cols-1 grid-cols-1 mt-2">
                <div>
                  <div class="flex">
                    <label class="p2-ws font-semibold text-blueDark mb-[5%] mt-[5%]"
                      >Cambio de contraseña</label
                    >
                  </div>
                </div>
              </div>
              <div class="grid sm:grid-cols-1 grid-cols-1 mt-2">
                <div>
                  <div class="flex">
                    <label class="font-register p7-ps mb-2 block"
                      >Contraseña actual</label
                    >
                  </div>

                  <input
                  formControlName="oldpassword"
                    name="password"
                    type="text"
                    class="bg-gray-100 w-full text-gray-800 p7-ps px-4 py-2.5 rounded-lg focus:bg-transparent outline-blue-500 transition-all"
                    placeholder="Enter password"
                  />
                </div>
              </div>
              <div class="grid sm:grid-cols-1 grid-cols-1 mt-2">
                <div>
                  <div class="flex">
                    <label class="font-register p7-ps mb-2 block"
                      >Nueva contraseña (Ingresa tu nueva contraseña)</label
                    >
                  </div>

                  <input
                  formControlName="password"
                    name="password"
                    type="text"
                    class="bg-gray-100 w-full text-gray-800 p7-ps px-4 py-2.5 rounded-lg focus:bg-transparent outline-blue-500 transition-all"
                    placeholder="Enter password"
                  />
                </div>
              </div>
              <div class="grid sm:grid-cols-1 grid-cols-1 mt-2">
                <div>
                  <div class="flex">
                    <label class="font-register p7-ps mb-2 block"
                      >Confirmar nueva contraseña</label
                    >
                  </div>

                  <input
                  formControlName="checkpassword"
                    name="password"
                    type="text"
                    class="bg-gray-100 w-full text-gray-800 p7-ps px-4 py-2.5 rounded-lg focus:bg-transparent outline-blue-500 transition-all"
                    placeholder="Enter password"
                  />
                </div>
              </div>
              <!--div class="grid sm:grid-cols-2 grid-cols-1 gap-3 mt-4">
                <div>
                  <label class="font-register p7-ps mb-2 block"
                    >Confirmar nueva contraseña</label
                  >
                  <input
                    name="password"
                    type="password"
                    class="bg-gray-100 w-full text-gray-800 p7-ps px-4 py-2.5 rounded-lg focus:bg-transparent outline-blue-500 transition-all"
                    placeholder="Enter password"
                  />
                </div>
                <div>
                  <label class="font-register p7-ps mb-2 block"
                    >Confirmar contraseña</label
                  >
                  <input
                    name="password"
                    type="password"
                    class="bg-gray-100 w-full text-gray-800 p7-ps px-4 py-2.5 rounded-lg focus:bg-transparent outline-blue-500 transition-all"
                    placeholder="Enter password"
                  />
                </div>
              </div-->
              <div class="w-full sm:w-1/2 py-[15px]">
                <button class="btn btn-outlet-primary" (click)="updateUserPassword()">Guardar cambios</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<p-toast />
<p-confirmDialog>
    <ng-template pTemplate="message" let-message>
        <div class="flex flex-column align-items-center w-full gap-3 border-bottom-1 surface-border">
            <i class="pi pi-exclamation-circle text-6xl text-primary-500"></i>
            <p>{{ message.message }}</p>
        </div>
    </ng-template>
</p-confirmDialog>
