<div class="flex flex-col pt-20 px-16 pb-32">
    <div class="flex flex-col">
        <h1 class="text-[40px] font-semibold text-blueDark">Detalles e información del Robot</h1>
        <p class="text-3xl font-medium text-blueDark">En este video podrás ver a detalles toda la información del Robot</p>
    </div>
    <div class="flex flex-col gap-10 items-center px-4 mt-10 mb-20">
        <h1 class="text-[44px] font-semibold text-blueDark">Robot de Forex</h1>
        <img class="w-full" src="img/video_robot.png" alt="">
    </div>

    <!-- start features section -->
    <section class="grid grid-cols-1 sm:grid-cols-2 gap-10">
      
        <img class="w-full" src="img/robot_detail.png" alt="">
        
        <div>
            <div class="flex flex-col mb-20">
                <h1 class="text-3xl font-bold text-blueDark mb-10">Características principales</h1>
                <div class="flex flex-col gap-4 mb-10">
                    <div class="flex gap-4">
                        <span class="flex text-[19.8px] text-blueDark gap-4 flex-1"><img class="w-[20px] h-[20px]" src="img/check.png" alt="">Asesoría de gestión de riesgo</span>
                        <span class="flex text-[19.8px] text-blueDark gap-4 flex-1"><img class="w-[20px] h-[20px]" src="img/check.png" alt="">Asesoría para instalación del servidor VPS</span>
                    </div>
                    <div class="flex gap-4">
                        <span class="flex text-[19.8px] text-blueDark gap-4 flex-1"><img class="w-[20px] h-[20px]" src="img/check.png" alt="">Asesoría de funcionamiento del robot</span>
                        <span class="flex text-[19.8px] text-blueDark gap-4 flex-1"><img class="w-[20px] h-[20px]" src="img/check.png" alt="">Paquete de estrategias para diferentes pares pre diseñadas de acuerdo a su capital</span>
                    </div>
                    <div class="flex">
                        <span class="flex text-[19.8px] text-blueDark gap-4 flex-1"><img class="w-[20px] h-[20px]" src="img/check.png" alt="">Asesor Experto</span>
                    </div>
                </div>
                <fwa-button type="outlet">Adquirir Robot</fwa-button>
            </div>
            <!-- start Robot detail -->
            <div>
                <h1 class="text-[28px] text-blueDark font-medium mb-10">Detalles del Robot</h1>
                <p class="text-[22px] text-[#000000] font-light mb-12">
                    Nuestro EA de Forex es un sistema 100 % automático, el cual ejecuta operaciones de manera algorítmica basándose en 3 distintas estrategias para sacar beneficio del mercado haciendo Scalping, Su operativa se basa en ir a favor de la tendencia del mercado y cuando esta falla, simplemente cubre las operaciones aplicando una segunda estrategia basada en intraday y coberturas.
                    Si estas dos primeras estrategias fallan, amplia su rango agregando una tercera estrategia de swing en coberturas. Su Gestión de riesgo se basa en un Martin Gala al 1.618 el cual garantiza que siempre que tengamos margen disponible en la cuenta este cerrará operaciones en beneficio.
                    No importa cual sea la dirección del mercado el sistema analizará, ejecutará y gestionará la operativa por usted. Su único trabajo será mantener la cuenta con suficiente margen para que el robot pueda operar comodamente. Se debe instalar en un servidor VPS para que este trabajando continuamente 24 hrs sin interrupciones.
                </p>

                <fwa-button type="outlet">Continuar al proceso de pago</fwa-button>
            </div>
            <!-- end Robot detail -->
        </div>
    </section>
    <!-- end features section -->
</div>