<main class="flex flex-col pt-4 sm:pt-10 md:pt-28 lg:pt-[133px] px-4 sm:px-10 md:px-18 lg:px-32 pb-20 sm:pb-30 md:pb-60 lg:pb-96">
    <div class="flex flex-col">
        <h3 class="font-semibold text-blueDark sm:mb-[21px]">Detalles e información del Robot</h3>
        <p class="p6-ws font-medium text-blueDark">En este video podrás ver a detalles toda la información del Robot</p>
    </div>
    <div class="flex flex-col gap-4 sm:gap-8 md:gap-12 lg:gap-[62px] items-center px-4 mt-4 sm:mt-10 md:mt-20 lg:mt-[113px]">
        <h2 class="font-semibold text-blueDark">Robot de Forex</h2>
        <img class="w-full" src="img/video_robot.png" alt="">
    </div>

    <!-- start features section -->
    <section class="grid grid-cols-1 sm:grid-cols-2 gap-10 mt-10 sm:mt-20 md:mt-40 lg:mt-60">
        
        <img class="w-full" src="img/robot_detail.png" alt="">
        
        <div>
            <div class="flex flex-col mb-6 sm:mb-14 md:mb-24 lg:mb-[136px]">
                <h6 class="font-bold text-blueDark mb-4 sm:mb-6 md:mb-8 lg:mb-10">Características principales</h6>
                <div class="flex flex-col lg:flex-row gap-4 mb-4 md:mb-10 lg:mb-16">
                    <div class="grid grid-cols-1 lg:grid-cols-2 gap-1 sm:gap-2 md:gap-4 lg:gap-7">
                        <div class="col-span-1">
                            <span class="flex p4-ws text-blueDark gap-4 flex-1"><img class="w-[20px] h-[20px]" src="img/check.png" alt="">Asesoría de gestión de riesgo</span>
                        </div>
                        <div  class="col-span-1">
                            <span class="flex p4-ws text-blueDark gap-4 flex-1"><img class="w-[20px] h-[20px]" src="img/check.png" alt="">Asesoría para instalación del servidor VPS</span>
                        </div>
                        <div  class="col-span-1">
                            <span class="flex p4-ws text-blueDark gap-4 flex-1"><img class="w-[20px] h-[20px]" src="img/check.png" alt="">Asesoría de funcionamiento del robot</span>
                        </div>
                        <div  class="col-span-1">
                            <span class="flex p4-ws  text-blueDark gap-4 flex-1"><img class="w-[20px] h-[20px]" src="img/check.png" alt="">Paquete de estrategias para diferentes pares pre diseñadas de acuerdo a su capital</span>
                        </div>
                        <div class="col-span-1">
                            <span class="flex p4-ws  text-blueDark gap-4 flex-1"><img class="w-[20px] h-[20px]" src="img/check.png" alt="">Asesor Experto</span>
                        </div>
                        
                    </div>
                
                </div>
                <button class="btn btn-outlet-primary self-end w-full md:[w-200px] lg:w-[347px] gap-4"><img src="img/cart.png" alt="">Adquirir Robot</button>
            </div>
            <!-- start Robot detail -->
            <div>
                <p class="p1-ws text-blueDark font-medium mb-4 sm:mb-6 md:mb-8 lg:mb-10">Detalles del Robot</p>
                <p class="p3-ws text-[#000000] font-light mb-4 sm:mb-6 md:gap-10 lg:mb-16">
                    Nuestro EA de Forex es un sistema 100 % automático, el cual ejecuta operaciones de manera algorítmica basándose en 3 distintas estrategias para sacar beneficio del mercado haciendo Scalping, Su operativa se basa en ir a favor de la tendencia del mercado y cuando esta falla, simplemente cubre las operaciones aplicando una segunda estrategia basada en intraday y coberturas.
                    Si estas dos primeras estrategias fallan, amplia su rango agregando una tercera estrategia de swing en coberturas. Su Gestión de riesgo se basa en un Martin Gala al 1.618 el cual garantiza que siempre que tengamos margen disponible en la cuenta este cerrará operaciones en beneficio.
                    No importa cual sea la dirección del mercado el sistema analizará, ejecutará y gestionará la operativa por usted. Su único trabajo será mantener la cuenta con suficiente margen para que el robot pueda operar comodamente. Se debe instalar en un servidor VPS para que este trabajando continuamente 24 hrs sin interrupciones.
                </p>
                <button class="btn btn-outlet-primary self-end w-full gap-4" (click)="handleClick()"><img src="img/cart.png" alt="">Continuar al proceso de pago</button>

            </div>
            <!-- end Robot detail -->
        </div>
    </section>
    <!-- end features section -->

</main>
