<section
  class="grid grid-cols-1 md:h-screen sm:h-auto sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-3 md:gap-0 sm:gap-0 lg:gap-0"
>
  <div class="col-span-1 content-center">
    <div class="w-full flex flex-col items-center">
      <div>
        <img src="img/logo_largo_1 1.png" class="pt-10" alt="" />
      </div>
      <div class="flex flex-col justify-center items-center my-[8%]">
        <span class="pt[20px] font-title-register"
          >¡Bienvenido, crea tu cuenta!</span
        >
      </div>
     <div class="w-[70%] mt-4">
        <p-messages [(value)]="messages" [enableService]="false" />
        <div class="mx-auto font-[sans-serif]">

         
          <form  
          id="demo-form"
          [formGroup]="formgroup"
          (ngSubmit)="sigIn(formgroup.value)">
            <div class="grid sm:grid-cols-2 gap-3 mb-2">
              <div>
                <label class="font-register text-sm mb-2 block">Nombre</label>
                <input
                  name="name"
                  type="text"
                  class="bg-gray-100 text-sm shadow appearance-none border rounded-lg w-full py-2 px-3 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                  placeholder="Enter name"
                  formControlName="name"
              [ngClass]="
              hasError('name')
                ? 'border-red-300 focus:border-red-600'
                : 'border-gray-300 focus:border-blue-600' 
            "
                />
                <p class="text-red-500 text-xs italic"  *ngIf="hasError('name', 'required')">Please enter name</p>
              </div>
              <div>
                <label class="font-register text-sm mb-2 block">Apellido</label>
                <input
                  name="lname"
                  type="text"
                  class="bg-gray-100 text-sm shadow appearance-none border rounded-lg w-full py-2 px-3 mb-3 leading-tight focus:outline-none focus:shadow-outline"                  placeholder="Enter last name"
                  formControlName="lastname"
              [ngClass]="
              hasError('lastname')
                ? 'border-red-300 focus:border-red-600'
                : 'border-gray-300 focus:border-blue-600' 
            "
                />
                <p class="text-red-500 text-xs italic"  *ngIf="hasError('lastname', 'required')">Please enter last name</p>
              </div>
              <div>
                <div class="flex">
                  <label class="font-register text-sm mb-2 block"
                    >Correo electrónico</label
                  >
                  <span class="text-red-500 ml-2">*</span>
                </div>

                <input
                  name="email"
                  type="text"
                  class="bg-gray-100 text-sm shadow appearance-none border rounded-lg w-full py-2 px-3 mb-3 leading-tight focus:outline-none focus:shadow-outline"                  placeholder="Enter email"
                  formControlName="email"
                  [ngClass]="
                  hasError('email')
                    ? 'border-red-300 focus:border-red-600'
                    : 'border-gray-300 focus:border-blue-600' 
                "
                />
                <p class="text-red-500 text-xs italic"  *ngIf="hasError('email', 'required')">Please enter email.</p>
              </div>
              <div>
                <div class="flex">
                  <label class="font-register text-sm mb-2 block"
                    >Teléfono</label
                  >
                  <span class="text-red-500 ml-2">*</span>
                </div>
                <input
                  name="number"
                  type="number"
                  class="bg-gray-100 text-sm shadow appearance-none border rounded-lg w-full py-2 px-3 mb-3 leading-tight focus:outline-none focus:shadow-outline"                  placeholder="Enter mobile number"
                  formControlName="phone"
                  [ngClass]="
                  hasError('phone')
                    ? 'border-red-300 focus:border-red-600'
                    : 'border-gray-300 focus:border-blue-600' 
                "
                />
                <p class="text-red-500 text-xs italic"  *ngIf="hasError('phone', 'required')">Please enter phone number</p>
              </div>
            </div>

            <div class="grid sm:grid-cols-1 mt-2">
              <div class="grid sm:grid-cols-1 grid-cols-1 mt-2">
                <div>
                  <div class="flex">
                    <label class="font-register text-sm mb-2 block"
                      >Dirección de facturación</label
                    >
                    <span class="text-red-500 ml-2"> *</span>
                  </div>

                  <input
                    name="password"
                    type="text"
                    class="bg-gray-100 text-sm shadow appearance-none border rounded-lg w-full py-2 px-3 mb-3 leading-tight focus:outline-none focus:shadow-outline"                    placeholder="Enter address"
                    formControlName="address"
                    [ngClass]="
                    hasError('address')
                      ? 'border-red-300 focus:border-red-600'
                      : 'border-gray-300 focus:border-blue-600'"
                  />
                  <p class="text-red-500 text-xs italic"  *ngIf="hasError('address', 'required')">Please enter address</p>
                </div>
              </div>
              <div class="grid sm:grid-cols-2 grid-cols-1 gap-3 mt-4">
                <div>
                  <label class="font-register text-sm mb-2 block"
                    >Contraseña</label
                  >
                  <input
                    name="password"
                    type="password"
                    class="bg-gray-100 text-sm  shadow appearance-none border rounded-lg w-full py-2 px-3 mb-3 leading-tight focus:outline-none focus:shadow-outline"                    placeholder="Enter password"
                    formControlName="password"
                    [ngClass]="
                    hasError('password')
                      ? 'border-red-300 focus:border-red-600'
                      : 'border-gray-300 focus:border-blue-600' 
                  "
                  />
                  <p class="text-red-500 text-xs italic"  *ngIf="hasError('password', 'required')">Please enter password.</p>
                  <p class="text-red-500 text-xs italic"  *ngIf="hasError('password', 'minlength')">Password must be 6 charapters</p>
                </div>
                <div>
                  <label class="font-register text-sm mb-2 block"
                    >Confirmar contraseña</label
                  >
                  <input
                    name="password2"
                    type="password"
                    class="bg-gray-100 text-sm shadow appearance-none border rounded-lg w-full py-2 px-3 mb-3 leading-tight focus:outline-none focus:shadow-outline"                    placeholder="Enter password"
                    formControlName="checkPassword"
                    [ngClass]="hasError('checkPassword')
                    ? 'border-red-300 focus:border-red-600'
                    : 'border-gray-300 focus:border-blue-600'"
                    placeholder="Repeat password"
                  />
                  <p class="text-red-500 text-xs italic"  *ngIf="hasError('checkPassword', 'required')">Please repeat password</p>
                  <p class="text-red-500 text-xs italic"  *ngIf="hasError('password', 'minlength')">Password must be 6 charapters</p>
                </div>
              </div>
            </div>
           
            <re-captcha (resolved)="executeRecaptchaVisible($event)" siteKey="6LeagysqAAAAAC10Q0PUF1SX8gByysAWFseU_1PD"></re-captcha>
          
            <!--re-captcha (resolved)="executeRecaptchaVisible($event)" siteKey="6LeagysqAAAAAC10Q0PUF1SX8gByysAWFseU_1PD"></re-captcha-->
            <!--div class="p-[15px] h-[100px]">
              
              <div id="recaptcha" class="g-recaptcha" data-sitekey="6LduxSEqAAAAAFvfCDLjT1es99gXhyU0119YnChb"></div>
            </div-->
            <div class="grid sm:grid-cols-1">
              <div class="md:w-full mt-4">
                <label class="md:w-full block text-gray-500 font-regular">
                  <input 
                  class="mr-2 leading-tight"
                  value="selectedTerms()"
                  type="checkbox"  
                   formControlName="check" />
                  <span class="text-sm text-[12px]"> Acepto los términos y condiciones </span>
                </label>
              </div>

              
               
              <div class="flex flex-col items-center">
                <button
                [disabled]="!formgroup.valid"
                (click)="sigIn(formgroup.value)"
                  type="button"
                  class="btn btn-primary"
                >
                  Crear cuenta

                  @if(show){
                    <div class="pl-8">
                      <svg aria-hidden="true" role="status" class="inline w-4 h-4 me-3 text-gray-200 animate-spin dark:text-gray-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                        <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="#1C64F2"/>
                      </svg>
                    </div>
                  }
                
                </button>
                <a
                  class="inline-block align-baseline underline font-regular font-register-ligth mt-4 text-sm text-black hover:text-blue-800"
                  [routerLink]="['/sign-in']"
                  >Ya tengo una cuenta, iniciar sesión</a
                >
              </div>
            </div>
          </form>
         
        </div>
      </div>
    </div>
  </div>
  <div class="col-span-2">
    <img src="img/signin.png" alt="" class="h-full hidden sm:hidden md:hidden md:h-screen lg:h-full lg:block 2xl:h-full" />
  </div>
</section>

<p-toast />
<p-confirmDialog>
    <ng-template pTemplate="message" let-message>
        <div class="flex flex-column align-items-center w-full gap-3 border-bottom-1 surface-border">
            <i class="pi pi-exclamation-circle text-6xl text-primary-500"></i>
            <p>{{ message.message }}</p>
        </div>
    </ng-template>
</p-confirmDialog>


