.font-register{
    font-family: Montserrat;
    font-size: 14px;
    color: #707070
}

.font-title-register{
    font-family: Work Sans;
    font-size: 21px;
    color: #080808;
}

.font-register-ligth{
    font-family: Work Sans;
    font-size: 14px;
    color: #0C2B4B;
}

.font-title-ligth{
    font-family: Work Sans;
    font-size: 21px;
    color: #FFFFFF;
}
