<p-table [value]="purchaseService.shoppingCart()" [tableStyle]="{ 'min-width': '200px' }">
    <ng-template pTemplate="header">
        <tr>
            <th></th>
            <th>Producto</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th class="text-center">Subtotal</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td>
                <div class="flex justify-center items-center gap-10">
                    <i (click)="deleteCartItem(product)" class="pi pi-times cursor-pointer" style="font-size: 1.0rem"></i>
                    <div class="w-10 h-10">
                        <img style="width: 60px; height: 40px;" src="img/robot_trading.png" alt="">
                    </div>
                </div>
            </td>
            <td>
                <div class="flex flex-col">
                    <span class="p3-ws">{{ product.itemsExtra[0].itemName }}</span>
                    <span class="p6-ws text-[#0574F7]">+ {{ product.itemsExtra.length - 1 }} estrategias añadidas</span>
                </div>
            </td>
            <td>
                <span class="p3-ws text-[#706666]">$ {{ getPrice(product) }}</span>
            </td>
            <td>
                <div class="relative flex justify-center items-center w-[76px] h-[50px] sm:w-[92px] sm:h-[72px] rounded-[14px] bg-blueDark">
                    <span class="p3-ws text-[#FFFFFF]">{{ product.quantity }}</span>
                    <div class="absolute right-3 top-0 flex flex-col justify-center gap-2 h-full">
                        <i class="pi pi-sort-up-fill cursor-pointer" (click)="updateQuantity(product, 1)" style="font-size: 1.0rem"></i>
                        <i class="pi pi-sort-down-fill cursor-pointer" (click)="updateQuantity(product, -1)" style="font-size: 1.0rem"></i>
                    </div>
                </div>
            </td>
            <td class="p3-ws text-[#706666]">
                $ {{ product.totalPrice }}
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="footer">
        <tr>
            <td colspan="5">
                <div class="flex gap-10">
                    <div class="flex gap-4 w-[60%] items-start">
                        <button class="btn btn-secondary">Código de cupón</button>
                        <button class="btn btn-primary" (click)="showDialog()" label="Show">Aplicar cupón</button>
                    </div>
                    <div class="flex w-[40%]">
                        <button (click)="updateShoppingCart()" class="btn btn-primary self-start">Actualizar carrito</button>
                    </div>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog header="Código de descuento" [(visible)]="visible" [style]="{ width: '25rem' }">
    <div class="flex align-items-center gap-3 mb-3">
        <label for="username" class="font-semibold w-6rem">Código</label>
        <input pInputText id="username" class="flex-auto" autocomplete="off" />
    </div>
    <div class="flex justify-content-end gap-2">
        <p-button label="Cancel" severity="secondary" (onClick)="visible = false" />
        <p-button label="Save" (onClick)="visible = false" />
    </div>
</p-dialog>