<section class="relative w-full h-[200px] md:h-[500px]">
    <img class="absolute object-cover w-full h-full"src="img/banner_about.png" alt="">
    <div class="absolute sm:w-[820px] 2xl:w-[885px] bottom-0 left-0 pl-8 pb-8 lg:pl-20 lg:pb-20">
        <h1 class="text-2xl lg:text-4xl xl:text-5xl 2xl:text-6xl font-semibold text-white mb-6">¿NO TIENES TIEMPO PARA ANALIZAR TUS ACTIVOS?</h1>
        <a class="flex gap-2 text-white cursor-pointer hover:underline">Conocer todos los paquetes <img class="w-6 h-6" src="img/arrow_up.png" alt=""></a>
    </div>
</section>
