<div class="max-w-[2100px] mx-auto">
    <fwa-header></fwa-header>
    <router-outlet></router-outlet>
    <div class="relative w-full h-[300px] md:h-[600px] bg-[#072443]">
        <div class="flex flex-row items-center gap-10 h-full p-4">
            <div class="flex flex-col flex-1 min-w-[160px]">
                <h2 class="font-medium text-white mb-4">Contacta con nosotros</h2>
                <p class="p4-ws text-white font-light mb-10">Para aprender bien el trading no necesitas ser un genio. Solo necesitas tener la guía correcta.</p>
                <button class="btn btn-primary gap-4">
                    <img src="img/message.png" class="h-[15px] w-[18px]" alt="">
                    Contáctanos
                </button>
            </div>
            <div class="w-[65%] h-auto">
                <img class="object-cover w-full h-auto" src="img/chart_bar.png" alt="" fill>
            </div>
        </div>
        
    </div>
    
    <fwa-footer></fwa-footer>

</div>