<div class="landing-layout">
    <fwa-header></fwa-header>
    <div>
        <router-outlet></router-outlet>

    </div>

    <div class="relative w-full h-[300px] md:h-[600px] bg-[#072443] pl-10 sm:pl-20">
        <div class="flex flex-row items-center gap-10 h-full">
            <div class="flex flex-col flex-1">
                <h1 class="text-2xl lg:text-4xl xl:text-5xl 2xl:text-[62px] font-medium text-white mb-4">Contacta con nosotros</h1>
                
                <p class="text-sm sm:text-[20px] text-white font-light mb-10">Para aprender bien el trading no necesitas ser un genio. Solo necesitas tener la guía correcta.</p>
                <fwa-button size="small">
                    <img src="img/message.png" alt="">Contáctanos
                </fwa-button>
            </div>
            <div class="w-[65%] h-full">
                <img class="object-cover w-full h-full" src="img/chart_bar.png" alt="" fill>
            </div>
        </div>
        
    </div>
    
    <fwa-footer></fwa-footer>

</div>