<div class="flex flex-col rounded-[16px] border-2 border-[#E2E5EA] p-[15px]">
    <div class="flex items-center mb-[20px] gap-3">
        <img src="img/stadistics.png" alt="" />
        <span class="text-xl">Estrategia 1</span>
    </div>
    <div class="mb-[10px]">
        <span class="text-[#53585E] font-poppins leading-5">Get to know your guest and optimize their experience inyour hotel</span>
    </div>
    <div class="flex justify-between py-[10px] h-auto">
        <button class="btn btn-outlet-secondary text-sm w-auto px-4">
            Ver más
        </button>
        <button class="btn btn-outlet-primary py-3 text-sm w-auto gap-2">
            <img src="img/cart-ligth.png" alt="" />Comprar $950,00 usd
        </button>
    </div>
</div>
