<div class="w-full">
    <h1 class="text-2xl font-semibold font-poppins">Detalles del Pedido</h1>
    <p class="text-[22px] pb-10 font-poppins">El pedido #445 se realizó el 23 de Mayo, 2024 y se está procesando</p>

    <table class="w-full">
        <thead class="text-left">
            <tr>
                <th>Producto</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Forex Básico x 1</td>
                <td>Bs.0,00</td>
            </tr>
            <tr>
                <td class="font-semibold">Subtotal:</td>
                <td>Bs.0,00</td>
            </tr>
            <tr>
                <td class="font-semibold">Envío:</td>
                <td>Bs.0,00</td>
            </tr>
            <tr>
                <td class="font-semibold">Total:</td>
                <td>Bs.0,00</td>
            </tr>
        </tbody>
    </table>

    <h1 class="text-2xl font-semibold py-10 font-poppins">Tu(s) clave(s) de licencia</h1>

    <table class="w-full">
        <thead class="text-left">
            <tr>
                <th>Forex Básico</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="font-aldrich">Lt6iICgu__B2-DC-41-1B</td>
            </tr>
        </tbody>
    </table>

    <h1 class="text-2xl font-semibold py-10 font-poppins">Dirección de Facturación</h1>

    <div class="w-auto flex flex-col py-[18px] px-[22px] border-2 rounded-lg border-[#F2F2F2]">
        <span class="text-paragraph">Álvaro Martínez Hidalgo</span>
        <span class="text-paragraph">Avinguda entral de sant antoni 66</span>
        <span class="text-paragraph">08620 Cant vicent dels hortsl</span>
        <span class="text-paragraph">Barcelona</span>
        <span class="text-paragraph">España</span>
        <span class="text-paragraph">Alvarohabitatyahoo.es</span>
    </div>

</div>


