<section>

    <div class="w-full">
        <h4 class="font-semibold font-poppins pb-4 md:pb-8">Detalles del Pedido</h4>
        <p class="p3-ps pb-10">El pedido #445 se realizó el 23 de Mayo, 2024 y se está procesando</p>
        <p-table [value]="products" [tableStyle]="{ 'min-width': '40rem' }" >
            <ng-template pTemplate="header">
                <tr>
                    <th class="p3-ws">Producto</th>
                    <th class="p3-ws">Total</th>
                    <th class="p3-ws">Sub Total</th>
                    <th class="p3-ws">Envio</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-shopping>
                <tr>
                    <td class="p3-ws">{{ shopping.itemName }}</td>
                    <td class="p3-ws">{{ shopping.itemPrice}}</td>
                    <td class="p3-ws">{{ shopping.totalPrice}}</td>
                   
                </tr>
            </ng-template>
          
        </p-table>
    
        <h4 class="font-semibold py-4 md:py-10 font-poppins">Tu(s) clave(s) de licencia</h4>
    
        <table class="w-full">
            <thead class="text-left">
                <tr>
                    <th>Forex Básico</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="p6-ws font-aldrich">Lt6iICgu__B2-DC-41-1B</td>
                </tr>
            </tbody>
        </table>
    
        <h4 class="font-semibold py-4 md:py-10 font-poppins">Dirección de Facturación</h4>
    
        <div class="w-auto flex flex-col py-[18px] px-[22px] border-2 rounded-lg border-[#F2F2F2]">
            <span class="p2-ws">Álvaro Martínez Hidalgo</span>
            <span class="p2-ws">Avinguda entral de sant antoni 66</span>
            <span class="p2-ws">08620 Cant vicent dels hortsl</span>
            <span class="p2-ws">Barcelona</span>
            <span class="p2-ws">España</span>
            <span class="p2-ws">Alvarohabitatyahoo.es</span>
        </div>
    
    </div>
    
    
</section>

