<div class="w-full h-full flex flex-col border-2 border-[#CFD5DC] rounded-3xl px-4 sm:px-[30px] pt-3 sm:pt-[22px] pb-[30px] sm:pb-[60px]">
    <img class="w-full rounded-3xl" [src]="robot().img" alt="">
    <div class="flex flex-col gap-4 sm:gap-8 mt-4">
        <h1 class="text-2xl sm:text-4xl font-semibold text-blueDark">{{ robot().title }}</h1>
        <p class="text-xs sm:text-xl text-blueDark">{{ robot().description }}</p>
        <fwa-button type="outlet" size="large" (onClick)="onClick.emit()">
            Ver detalles
        </fwa-button>
    </div>
</div>