<div class="w-full h-full flex flex-col border-2 border-[#CFD5DC] rounded-3xl px-4 pb-4 sm:px-[30px] pt-3 sm:pt-[22px] sm:pb-[30px]">
    <img class="w-full rounded-3xl h-[160px]" [src]="robot().imagePrincipal" alt="">
    <div class="flex flex-col mt-2 md:mt-4 lg:mt-6">
        <h4 class="font-semibold text-blueDark mb-2 md:mb-4 lg:mb-6">{{ robot().name }}</h4>
        <p class="p4-ws mb-2 text-blueDark md:mb-4 lg:mb-6">{{ robot().description }}</p>
        <button class="btn btn-outlet-primary" (click)="onClick.emit(robot())">Ver detalles</button>
    </div>
</div>