<p-table [value]="shoppings()" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th>Pedido</th>
            <th>Fecha</th>
            <th>Estado</th>
            <th>Total</th>
            <th>Acciones</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-shopping>
        <tr>
            <td>{{ shopping.code }}</td>
            <td>{{ shopping.date }}</td>
            <td>{{ shopping.status }}</td>
            <td>{{ shopping.total }}</td>
            <td>
                <fwa-button type="outlet" (onClick)="navigateToDetail(shopping)">Ver</fwa-button>
            </td>
        </tr>
    </ng-template>
</p-table>
