<div class="flex flex-column h-12rem">
    <div class="flex-auto flex justify-content-center align-items-center font-medium">
      <section class="grid grid-cols-4 gap-x-20 w-full">
        <div class="col-span-4 content-center">
          <span class="w-full">
            <h4 class="font-semibold">Paso 3:</h4>
            <h4 class="font-light">
              Verifica el resumen de tu compra</h4>
          </span>
          <hr class="mt-2 mb-8 md:mt-4 md:mb-16 lg:mt-10 lg:mb-[110px] h-[1px] border-t-0 bg-[#DDDDDDDD] dark:bg-[#DDDDDDDD]"/>

        </div>

        <div class="col-span-4 sm:col-span-4 md:col-span-4 lg:col-span-2">
          <img class="w-full h-[180px] sm:h-[255px] rounded-2xl" src="img/step_1.png" alt="" />
        </div>

        <div class="col-span-4 sm:col-span-4 md:col-span-4 lg:col-span-2">
          <div class="flex flex-col">
            <h2 class="font-semibold text-blueDark">{{ robot.name }}</h2>
            <div class="pt-[15px]">
              <span class="p3-ws font-light text-blueDark">{{ robot.shortDescription }}</span>
            </div>
            <hr
              class="my-5 sm:my-9 h-[3.3px] bg-[#DDDDDDDD] dark:bg-[#DDDDDDDD]"
            />
            <div class="flex flex-col">
              <h6 class="font-bold text-blueDark mb-[18px]">Licencia seleccionada</h6>
              <span class="p3-ws"
                >Esta licencia es la única asociada a este Robot, podrás
                ver todas su información antes de adquirirla</span
              >
            </div>
          </div>
          <div class="my-[38px]">
            <card-license
              [license]="purchaseService.selectedLicense"
              (onClick)="null"
              [selected]="true"
            ></card-license>
          </div>
          <div class="flex flex-col">
            <div class="flex flex-col">
              <h6 class="text-blueDark font-bold"
                >({{ purchaseService.selectedStrategies.length }}) Estrategias seleccionadas</h6>
              <span class="mt-[10px] p3-ws"
                >Estrategias seleccionadas de acuerdo a la
                licencia</span
              >
            </div>
            <div class="flex flex-wrap justify-between mt-7 sm:mt-12">
              <h5 class="text-blueDark font-semibold">Subtotal de la compra:</h5>
              <h5 class="text-blueDark "> $1,200 usd</h5>
            </div>
          </div>
          <hr class="my-5 sm:my-9 h-[3.3px] bg-[#DDDDDDDD] dark:bg-[#DDDDDDDD]"/>

          <div class="flex flex-col w-full py-[28px] px-[42px] mb-[38px] rounded-[15px]  bg-[#F3F8FF]">
            <h6 class="font-bold pt-[10px] text-blueDark">Añade más potencia a tu Robot</h6>
            <span class="pt-[10px] p3-ws"
              >Compra tantas estrategias quieras para la operación de tu
              Robot en el mercado</span
            >
            <div class="flex gap-3 pt-[10px]">
              <img src="img/store-ligth.png" class="w-[24px] h-[24px]" alt="" />
              <a class="p2-ws text-primary">Ver tienda de estrategias</a>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="flex pt-4 items-center justify-between">
    <div class="flex items-center gap-4">
      <img src="img/back-ligth.png" class="w-[17px] h-[17px]" alt="" />
      <a class="p2-ws text-primary cursor-pointer" (click)="prevCallback.emit()"
        >Volver atrás / todos los robots</a
      >
    </div>
    <button class="btn btn-primary gap-2 lg:w-[308px]" (click)="goCart()"><img src="img/cart-white.png" alt="" /> Continuar al carrito</button>
  </div>