<div class="flex flex-column h-12rem">
    <div class="flex-auto flex justify-content-center align-items-center font-medium">
      <section class="grid grid-cols-4 gap-x-20 w-full">
        <div class="col-span-4 content-center">
          <span class="w-full">
            <h4 class="font-semibold">Paso 3:</h4>
            <h4 class="font-light">
              Verifica el resumen de tu compra</h4>
          </span>
          <hr class="mt-2 mb-8 md:mt-4 md:mb-16 lg:mt-10 lg:mb-[110px] h-[1px] border-t-0 bg-[#DDDDDDDD] dark:bg-[#DDDDDDDD]"/>

        </div>

        <div class="col-span-4 sm:col-span-4 md:col-span-4 lg:col-span-2">
          <img class="w-full rounded-2xl" src="img/step_1.png" alt="" />
        </div>

        <div class="col-span-4 sm:col-span-4 md:col-span-4 lg:col-span-2">
          <div class="flex flex-col">
            <h2 class="font-semibold text-blueDark">{{ robot.name }}</h2>
            <div class="py-[15px]">
              <span class="p3-ws font-light text-blueDark">{{ robot.shortDescription }}</span>
            </div>
            <hr
              class="my-6 h-0.5 border-t-0 bg-[#DDDDDDDD] dark:bg-[#DDDDDDDD]"
            />
            <div class="flex flex-col my-[10px]">
              <span class="font-bold text-[23px] text-blueDark"
                >Licencia seleccionada</span
              >
              <span class="font-normal text-blueDark"
                >Esta licencia es la única asociada a este Robot, podrás
                ver todas su información antes de adquirirla</span
              >
            </div>
          </div>

          <div class="flex flex-col flex-wrap w-full p-[15px] my-[38px] border-primary rounded-md border-2">
            <h3 class="font-semibold text-blueDark">{{ purchaseService.selectedLicense?.name }}</h3>

            <div class="flex flex-col sm:flex-row md:flex-row lg:flex-row md:justify-between lg:justify-between">
              <div>
                <span>$ {{ purchaseService.selectedLicense?.price }} usd</span>
              </div>
              <div>
                <span class="text-primary"
                  >+ 3 Estrategias gratuitas</span
                >
              </div>
            </div>
          </div>
          <div class="flex flex-col my-[38px]">
            <div class="flex flex-col">
              <h6 class="text-blueDark font-bold"
                >({{ purchaseService.selectedStrategies.length }}) Estrategias seleccionadas</h6>
              <span class="my-[10px] p3-ws"
                >Estrategias seleccionadas de acuerdo a la
                licencia</span
              >
            </div>
            <div class="flex flex-wrap justify-between pt-[45px]">
              <h5 class="text-blueDark font-bold"
                >Subtotal de la compra:
            </h5>
              <h5> $1,200 usd</h5>
            </div>
            <hr
              class="my-8 h-[1px] border-t-0 bg-[#DDDDDDDD] dark:bg-[#DDDDDDDD]"
            />
          </div>
          <div
            class="flex flex-col w-full p-[15px] my-[38px] rounded-md border-2 bg-[#F3F8FF]"
          >
            <span
              class="font-bold p5-ws text-blueDark pt-[10px]"
              >Añade más potencia a tu Robot</span
            >
            <span class="pt-[10px] p5-ws"
              >Compra tantas estrategias quieras para la operación de tu
              Robot en el mercado</span
            >
            <div class="flex gap-3 pt-[10px]">
              <img src="img/store-ligth.png" class="w-[24px] h-[24px]" alt="" />
              <a class="p2-ws text-primary">Ver tienda de estrategias</a>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="flex pt-4 items-center justify-between">
    <div class="flex items-center gap-4">
      <img src="img/back-ligth.png" class="w-[17px] h-[17px]" alt="" />
      <a class="p2-ws text-primary cursor-pointer" (click)="prevCallback.emit()"
        >Volver atrás / todos los robots</a
      >
    </div>
    <button class="btn btn-primary gap-2 lg:w-[308px]" (click)="goCart()"><img src="img/cart-white.png" alt="" /> Continuar al carrito</button>
  </div>