<div class="w-full flex flex-col mb-44">
    
    <div class="flex items-center w-full h-32 bg-[#E7F0FC] pl-10 mb-20">
        <h3 class="text-4xl sm:text-[46px] font-semibold font-workSans text-blueDark">Métodos de pago</h3>
    </div>
    <section class="flex justify-center items-center w-full p-8">
        <div class="flex flex-col items-center w-[50%] md:max-w-[997px] mg:h-[700px]">
            <h4 class="font-medium font-poppins text-[24px] sm:text-[36px] md:max-w-[645px] text-center mb-12">Selecciona tu método de pago para procesar la compra</h4>
            <div class="grid grid-cols-2 w-full gap-4 p-8 md:p-[98px] rounded-[40px] border-2 bg-[#EFEFEF] mb-8">
                <div class="flex items-center justify-between flex-2 rounded-[20px] border-2 border-[#D4D4D4] p-[30px] bg-white">
                    <img class="w-16 sm:w-auto" src="img/stripe_logo.png" alt="">
                    <p-checkbox 
                      [(ngModel)]="checked" 
                      [binary]="true" 
                      inputId="binary" />
                </div>
                <div class="flex items-center justify-between flex-2 rounded-[20px] border-2 border-[#D4D4D4] p-[30px] bg-white">
                    <img class="w-16 sm:w-auto" src="img/binance_logo.png" alt="">
                    <p-checkbox 
                      [(ngModel)]="checked" 
                      [binary]="true" 
                      inputId="binary" />
                </div>
                <div class="flex items-center justify-between flex-2 rounded-[20px] border-2 border-[#D4D4D4] p-[30px] bg-white">
                    <img class="w-16 sm:w-auto" src="img/paypal_logo.png" alt="">
                    <p-checkbox 
                      [(ngModel)]="checked" 
                      [binary]="true" 
                      inputId="binary" />
                </div>
                <div class="flex items-center justify-between flex-2 rounded-[20px] border-2 border-[#D4D4D4] p-[30px] bg-white">
                    <img class="w-16 sm:w-auto" src="img/pagomovil_logo.png" alt="">
                    <p-checkbox 
                      [(ngModel)]="checked" 
                      [binary]="true" 
                      inputId="binary" />
                </div>
            </div>
            <div class="flex justify-between w-full h-[70px] gap-4 sm:gap-0">
                <button class="btn btn-outlet-primary w-[294px]" (click)="goCart()">Volver al carrito</button>
                <button class="btn btn-primary w-[294px]">Continuar</button>
            </div>
        </div>
        <div class="m-4 flex flex-col justify-center items-center m-0 w-auto">
            <img class="w-16 sm:w-auto" src="img/stripe_logo.png" alt="">
              <form class="max-w-sm mx-auto" [formGroup]="paymentElementForm" #card>
          
                  <div class="mb-5">
                      <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
                      <input type="text" placeholder="name" formControlName="name"  id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@flowbite.com" required />
                    </div>
                  <div class="mb-5">
                      <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your email</label>
                      <input type="email" placeholder="email" formControlName="email"  id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@flowbite.com" required />
                    </div>
                    <div class="mb-5">
                      <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Address</label>
                      <input type="text"  placeholder="Address" formControlName="address" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
                    </div>
                    <div class="mb-5">
                      <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">ZIP</label>
                      <input type="text" placeholder="ZIP Code" formControlName="zipcode"class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
                    </div>
                
                    <div class="mb-5">
                      <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">City</label>
                      <input type="text" placeholder="city" formControlName="city"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
                    </div>
                
              
              
                  @if (elementsOptions.clientSecret) {
                      <ngx-stripe-elements
                        [stripe]="stripe"
                        [elementsOptions]="elementsOptions"
                      >
                        <ngx-stripe-payment [options]="paymentElementOptions" />
                      </ngx-stripe-elements>
                    }
                  <button type="submit" class="text-white bg-blue-700 mt-4 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" (click)="pay()">Pagar</button>
                </form>
                
        </div>
    </section>

   
      
</div>

<!--form [formGroup]="paymentElementForm" #card>
    <div>
      <input  placeholder="name" formControlName="name" />
    </div>
    <div>
      <input  type="email" formControlName="email" />
    </div>
    <div>
      <input placeholder="Address" formControlName="address" />
    </div>
    <div>
      <input placeholder="ZIP Code" formControlName="zipcode" />
    </div>
    <div>
      <input placeholder="city" formControlName="city" />
    </div>
    @if (elementsOptions.clientSecret) {
      <ngx-stripe-elements
        [stripe]="stripe"
        [elementsOptions]="elementsOptions"
      >
        <ngx-stripe-payment [options]="paymentElementOptions" />
      </ngx-stripe-elements>
    }
    <button (click)="pay()">PAY</button>
</form-->




<!--div class="m-4 flex flex-col justify-center items-center">   
    <div>
      <img class="w-16 sm:w-auto" src="img/pagomovil_logo.png" alt="">
    </div>
  <div>
    <form class="max-w-sm mx-auto" [formGroup]="paymentElementForm" #card>

        <div class="mb-5">
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Documento de Identidad</label>
            <input type="text" placeholder="name" formControlName="name"  id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@flowbite.com" required />
          </div>
        <div class="mb-5">
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Telefono</label>
            <input type="email" placeholder="email" formControlName="email"  id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@flowbite.com" required />
          </div>
          <div class="mb-5">
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Numero de Referencia</label>
            <input type="text"  placeholder="Address" formControlName="address" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
          </div>
          <div class="mb-5">
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fecha de Pago</label>
            <input type="text" placeholder="ZIP Code" formControlName="zipcode"class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
          </div>
      
          <div class="mb-5">
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Banco Emisor</label>
            <input type="text" placeholder="city" formControlName="city"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
          </div>
        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" (click)="pay()">Pagar</button>
      </form>
  </div>

      
</div-->
 