<div class="w-full flex flex-col h-auto">
    <div class="w-full bg-[#EDF1F5] flex items-center h-full sm:px-10 md:px-20 sm:py-16 sm>">
        <div class="flex flex-col w-full sm:flex-col md:flex-row sm:justify-between gap-y-4 sm:gap-x-8">
            <div class="flex flex-col items-center sm:items-start gap-8">
                <img src="img/logo.png" alt="">
                
                <fwa-button class="w-full flex justify-center" (onClick)="handleClick()">
                    <img src="img/message.png" alt="">
                    Contacta con nosotros
                </fwa-button>
            </div>
            <div class="flex flex-col gap-4 sm:gap-8">
                <div class="flex gap-4 sm:gap-8">
                    <div class="flex items-center gap-2">
                        <img class="w-[18px] h-[21px]" src="img/location_icon.png" alt="">
                        <span class="text-custom">Cta. Trasversal Calicanto, Centro Profesional del Norte</span>
                    </div>
                    <div class="flex items-center gap-2">
                        <img class="w-[18px] h-[21px]" src="img/clock_icon.png" alt="">
                        <span class="text-custom">Lun - Vie : 09:00 AM - 05:00 PM</span>
                    </div>
                    <div class="flex items-center gap-2">
                        <img class="w-[18px] h-[21px]" src="img/phone_icon.png" alt="">
                        <span class="text-custom">+58 424 - 3435577</span>
                    </div>
                </div>
                <div class="flex flex-row flex-wrap sm:flex-wrap md:flex-wrap sm:gap-8">
                    <div class="flex flex-col items-center sm:items-start grow">
                        <span class="text-custom">Servicios y productos</span>
                        <span class="text-custom">Nosotros</span>
                        <span class="text-custom">Cursos</span>
                        <span class="text-custom">Blog</span>
                        <span class="text-custom">Contacto</span>
                    </div>
                    <span class="flex justify-center text-custom grow">Términos y condiciones</span>
                    <span class="flex justify-center text-custom grow">Políticas de privacidad</span>
                    <div class="flex flex-col justify-start gap-4">
                        <span class="flex justify-center text-custom">Síguenos en nuestras redes</span>
                        <div class="flex justify-end gap-4">
                            <div class="footer-social-media">
                                <img src="img/facebook_icon.png" alt="">
                            </div>
                            <div class="footer-social-media">
                                <img src="img/twitter_icon.png" alt="">
                            </div>
                            <div class="footer-social-media">
                                <img src="img/in_icon.png" alt="">
                            </div>
                            <div class="footer-social-media">
                                <img src="img/facebook_icon.png" alt="">
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-full h-[63px] flex items-center bg-blueDark text-sm sm:px-20 text-white">
        © FINNACE WORLD ACADEMY | TODOS LOS DERECHOS RESERVADOS
    </div>
</div>
