<fwa-banner />
<div class="w-full flex flex-col">
  <section class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-5 gap-0 sm:gap-4 md:py-4 md:px-4 sm:m-0">
    <div class="col-span-2  p-[10%]">
      <div class="flex flex-col m-4 md:ml-[15%] sm:m-0 justify-end">
        <span class="flex justify-center items-center font-bold p6-ws text-white bg-primary rounded-[50px] py-2 px-5 w-[142px]">
          Contáctanos
        </span>
        <h4 class="font-bold mt-4 text-blueDark">
          Estamos en todo momento para atenderte
        </h4>
        <p class="p4-ws text-left mt-4">
          También puedes enviarnos un mensaje directo
        </p>
        <form class="w-full mt-6">
          <div class="mb-5">
            <label
              for="email"
              class="block mb-2 text-sm font-medium p4-ws   dark:text-white"
              >Name</label
            >
            <input
              type="text"
              id="email"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Type your name"
              required
            />
          </div>
          <div class="mb-5">
            <label
              for="email"
              class="block mb-2 text-sm font-medium p4-ws dark:text-white"
              >Your email</label
            >
            <input
              type="email"
              id="email"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="name@flowbite.com"
              required
            />
          </div>
          <div class="mb-5">
            <label
              for="email"
              class="block mb-2 text-sm font-medium p4-ws  dark:text-white"
              >Subject</label
            >
            <input
              type="text"
              id="email"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Type subject"
              required
            />
          </div>
          <div class="mb-5">
            <label
              for="password"
              class="block mb-2 text-sm font-medium p4-ws  dark:text-white"
              >Message</label
            >
            <textarea
              type="text"
              id="password"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              required
            >
          </textarea>
          </div>
          <div class="flex justify-end pt-20">
            <button
              type="submit"
              class="text-white p4-ws  bg-blue-700 hover:bg-blue-800 px-[16px] py-[16px] w-[20%] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            >
            Enviar mensaje
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-span-5 md:col-span-3 lg:col-span-3 pb-[10%]">
      <div class="flex justify-center">
        <img src="img/maps.png" alt="" class="py-20 h-auto w-[80%] sm:w-[60%] md:w-[80%]" />
      </div>
   
    </div>
  </section>
</div>
