.font-contact-button{
    font-family: Work Sans;
    font-weight: 500;
    font-size: 14px;
    color: #F6F6F6;

}

.font-title-register{
    font-family: Work Sans;
    font-size: 21px;
    color: #080808;
}

.font-contact-ligth{
    font-family: Work Sans;
    font-size: 30px;
    font-weight: 700;
    color: #0C2B4B;
}

.font-contact-subtitle-ligth{
    font-family: Work Sans;
    font-size: 17px;
    color: #0C2B4B;
}

.font-register-ligth{
    font-family: Work Sans;
    font-size: 30px;
    font-weight: 700;
    color: #0C2B4B;
}


.font-title-ligth{
    font-family: Work Sans;
    font-size: 21px;
    color: #FFFFFF;
}

.font-contact-button{
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    color: #F6F6F6;

}