<fwa-banner
    [title]="title"
    messageLink="Conocer todos los paquetes"
    backgroundImage="banner_about.png"
/>
<main class="pt-4 sm:pt-10 md:pt-28 lg:pt-[133px] pb-10 sm:pb-20 md:pb-40 lg:pb-60">
  <section class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-5 lg:gap-[197px]">
    <div class="col-span-2">
      <div class="flex flex-col justify-end">
        <span class="flex justify-center items-center font-bold p6-ws text-white bg-primary rounded-[50px] py-2 px-5 w-[142px]">
          Contáctanos
        </span>
        <h4 class="font-bold mt-4 text-blueDark">
          Estamos en todo momento para atenderte
        </h4>
        <p class="p4-ws text-left mt-3 sm:mt-7">
          También puedes enviarnos un mensaje directo
        </p>
        <form class="flex flex-col gap-8 w-full mt-8 sm:mt-16"  [formGroup]="userInformationForm"
        (ngSubmit)="sendMessage(userInformationForm.value)"
        >
          <div class="flex flex-col gap-2">
            <label
              for="email"
              class="block text-sm font-medium p4-ws dark:text-white"
              >Name</label
            >
            <input
            formControlName="name"
              type="text"
              id="email"                  
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Type your name"
              required
            />
          </div>
          <div class="flex flex-col gap-2">
            <label
              for="email"
              class="block mb-2 text-sm font-medium p4-ws dark:text-white"
              >Your email</label
            >
            <input
            formControlName="email"
              type="email"
              id="email"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="name@flowbite.com"
              required
            />
          </div>
          <div class="flex flex-col gap-2">
            <label
              for="email"
              class="block mb-2 text-sm font-medium p4-ws  dark:text-white"
              >Subject</label
            >
            <input
            formControlName="subject"
              type="text"
              id="email"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Type subject"
              required
            />
          </div>
          <div class="flex flex-col gap-2">
            <label
              for="password"
              class="block mb-2 text-sm font-medium p4-ws  dark:text-white"
              >Message</label
            >
            <textarea
            formControlName="message"
              type="text"
              id="password"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              required
            >
          </textarea>
          </div>
          <div class="flex justify-end pt-8">
            <button class="btn btn-primary lg:text-base lg:w-[223px]">Enviar mensaje</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-span-5 md:col-span-3 lg:col-span-3">
      <div class="flex">
        <img src="img/maps.png" alt="" class="pt-20 h-auto w-full lg:w-[80%]" />
      </div>
    </div>
  </section>
</main>

<p-toast />
<p-confirmDialog>
    <ng-template pTemplate="message" let-message>
        <div class="flex flex-column align-items-center w-full gap-3 border-bottom-1 surface-border">
            <i class="pi pi-exclamation-circle text-6xl text-primary-500"></i>
            <p>{{ message.message }}</p>
        </div>
    </ng-template>
</p-confirmDialog>
