<fwa-banner
    [title]="title"
    messageLink="Conocer todos los paquetes"
    backgroundImage="banner_home.png"
/>
<main>
    <!-- start benifits section -->
    <section class="grid sm:grid-cols-3 md:grid-cols-3 lg:grid-cols-[repeat(minmax(3, 200px, 488px))] gap-4 sm:gap-10 md:gap-16 lg:gap-[100px] mb-8 sm:mb-10 md:mb-16 lg:mb-20">
        @for(benifit of benifits; track benifit.title) {
            <fwa-benifit
                [icon]="benifit.icon"
                [title]="benifit.title"
                [description]="benifit.description"
            >
            </fwa-benifit>
        }
    </section>
    <!-- end benifits section -->

    <!-- start about us section -->
    <section class="grid justify-center md:grid-cols-1 lg:grid-cols-[minmax(400px,703px)_minmax(400px,882px)] w-full gap-10">
        <div class="flex flex-col items-end lg:pt-[159px] min-w-[200px] xl:pl-[188px]">
            <h5 class="font-medium text-blueDark text-center">¿Quiénes somos?</h5>
            <p class="p4-ws text-right text-blueDark py-2 sm:py-4 md:py-6 lg:py-8">
                Somos una Academia de trading con mas de 6 años de experiencia en los Mercados financieros.
                Donde nos hemos especializado en la educación, creación de sistemas automáticos de trading y gestión de capitales.
                A través de Metodologías probadas y testeadas que generan una rentabilidad sostenible si se cumplen cada uno de los parámetros enseñados por nuestros profesores.
            </p>
            <button class="btn btn-primary lg:w-[359px] w-[40%] md:w-[40%] sm:w-[40%]" (click)="aboutUs()">Conocer más</button>
        </div>
        <div class="lg:min-w-[400px]">
            <img class="w-full h-full" src="img/tranding.png" alt="">
        </div>
    </section>

<div class="relative md:relative lg:relative mt-[10%] h-auto">
    <div class="w-full h-auto bg-no-repeat bg-center bg-cover bg-life-easier object-cover">
        <img class="absolute md:absolute lg:absolute sm:center-0 md:center object-contain  sm:object-contain md:object-contain  lg:object-cover h-full w-full" style="z-index: -1;" src="img/test.png" alt="">                                      
        <div class="relative md:relative lg:relative inset-0 flex flex-col justify-center items-center text-white">
            <section class=" grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2 gap-6 sm:gap-10 sm:px-[4%]">
                <div class="flex md:justify-end gap-0 sm:gap-10  border-primary border-2 rounded-[30px] overflow-hidden lg:mt-12 bg-[#F2F2F2]  w-full lg:max-w-[710px]">
                    <div class="flex flex-col w-full sm:w-[70%] lg:w-[389px] py-4 pl-4 sm:pl-10 pr-4 md:pl-20 sm:pr-0">
                        <span class="flex justify-center items-center font-bold p6-ws text-white bg-primary rounded-[50px] py-2 px-5 w-[94px]">
                            Broker
                        </span>
                        <h4 class="font-bold text-blueDark mt-3 sm:mt-6">Nuestros cursos</h4>
                        <p class="p4-ws text-blueDark my-4 sm:my-8">
                            Nuestros cursos y clases están enfocadas en hacer llegar la información a nuestros estudiantes de la manera más sencilla, directa y práctica de aprender.
                        </p>
                        <!-- <a class="p4-ws text-primary cursor-pointer">Ver todos los cursos</a> -->
                    </div>
                    <div class="hidden sm:block pt-24">
                        
                        <img class="w-full h-auto" src="img/broker.png" alt="">
                    </div>
                </div>
                <div class="flex flex-col justify-start border-primary border-2 rounded-[30px] overflow-hidden bg-[#F4F4F4] lg:max-w-[725px]">
                    <div class="flex justify-center items-center w-full h-[57px] bg-primary text-center">
                        <p class="p4-ws text-white">Obtén un robot y comienza a operar</p>
                    </div>
                    <div class="flex gap-10 md:justify-end">
                        <div class="flex flex-col sm:w-[70%] lg:w-[389px] py-4 pl-4 sm:pl-10 md:pl-20 pr-4 sm:pr-0">
                            <span class="flex justify-center  items-center font-bold p6-ws text-white bg-primary rounded-[50px] py-2 px-5 w-[94px]">
                                Forex
                            </span>
                            <h4 class="font-bold mt-6 text-blueDark">Robot de trading</h4>
                            <p class="p4-ws my-4 sm:my-8 text-blueDark">
                                Nuestro EA de Forex es un sistema 100 % automático, el cual ejecuta operaciones de manera 
                                algorítmica basandose en 3 distintas estrategias para sacar beneficio del mercado haciendo Scalping.
                            </p>
                            <a class="p4-ws text-primary cursor-pointer" (click)="goCart()">Quiero un robot</a>
                        </div>
                        <div class="hidden sm:flex pt-24 w-[243px]">
                            <img class="w-full h-auto" src="img/forex.png" alt="">
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

    <!-- start courses section -->
    <!-- end courses section -->

</main>

