.container-courses {
    background-image: url('/img/brantt.png');
}
// .test {
//     background-color: theme('colors.red.400');
// }

.main-content {
    width: 100%;
    height: 100%;
    padding-top: 160px;
    padding-right: 128px;
    padding-bottom: 120px;
    padding-left: 128px;
    ::ng-deep {
      router-outlet + * {
        width: 100%;
      }
    }
  }