/* You can add global styles to this file, and also import other style files */
// styles.scss
@import "primeicons/primeicons.css";

@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer primeng; //not necessary I think

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}


@layer base {
  h1 {
    @apply text-2xl lg:text-4xl xl:text-5xl 2xl:text-6xl font-workSans;
  }

  h2 {
    @apply text-[2.75rem] font-workSans;
  }

  h3 {
    @apply text-[2.5rem] font-workSans;
  }
  
  h4 {
    @apply text-3xl sm:text-4xl font-workSans;
  }

  h5 {
    @apply text-[2rem] font-workSans;
  }
}

@layer components {
  .paragraph-1 {
    @apply text-[1.5rem] font-workSans text-blueDark;
  }

  .paragraph-2 {
    @apply text-sm sm:text-[1.25rem] font-workSans text-blueDark;
  }

  .paragraph-3 {
    @apply text-[1.125rem] font-workSans text-blueDark;
  }

  .paragraph-4 {
    @apply font-workSans text-blueDark;
  }

  .footer-social-media {
    @apply flex justify-center items-center sm:px-3 sm:py-4 border border-blueDark rounded-[10px] w-8 h-8 sm:w-11 sm:h-11 cursor-pointer;
  }

  .font-medium-18 {
    @apply text-sm sm:text-[18px] font-medium;
  }
}

@font-face {
  font-family: "Work Sans";
  src: url("assets/fonts/WorkSans-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("assets/fonts/Montserrat-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("assets/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Aldrich-Regular";
  src: url("assets/fonts/Aldrich-Regular.ttf");
}

