<fwa-banner/>
<div class="flex flex-col px-4 sm:px-20 pt-20 gap-16 pb-20">
    <h4 class="font-bold text-blueDark">Carrito de compra</h4>
    <div class="w-full grid grid-cols-1 sm:grid-cols-12 gap-20">
        <div class="col-span-1 sm:col-span-8">
            <section>
                <fwa-cart></fwa-cart>
            </section>
        </div>
        <div class="col-span-1 sm:col-span-4">
            <fwa-shopping-detail></fwa-shopping-detail>
        </div>
        
    </div>

    <section class="w-full flex flex-col gap-4 sm:gap-0 sm:flex-row justify-between rounded-2xl bg-[#F3F8FF] px-4 sm:px-12 py-[52px]">
        <div class="flex flex-col max-w-[608px] gap-3">
            <h4 class="font-bold text-2xl sm:text-[30.8px] text-blueDark">Añade más potencia a tu Robot</h4>
            <p class="text-base sm:text-[23.1px] text-blueDark">Compra tantas estrategias quieras para la operación de tu Robot en el mercado</p>
        </div>

        <div class="flex justify-center items-center">
            <button class="btn btn-outlet-primary w-full py-3 gap-4" (click)="seeStrategy()"><i class="pi pi-shop"></i>Ver tienda de estrategias</button>
        </div>
    </section>
</div>

