<section class="bg-[#EFF0F6] w-full py-[30px]">
    <div class="h-[120px] py-4 flex items-center justify-center">
        <span class="font-semibold text-[30px] ">Proceso guiado de compra</span>
    </div>

  <div class="bg-white border rounded-lg mt-[10px] mx-[100px] px[30px]">
    <p-stepper class="p-[10px] w-[100%]">
      <p-stepperPanel>
        <ng-template
          pTemplate="content"
          let-nextCallback="nextCallback"
          let-index="index"
        >
          <div class="flex flex-column h-12rem">
            <div
              class="mx-[10px] surface-border surface-ground flex-auto flex justify-content-center align-items-center font-medium"
            >
              <section class="grid grid-cols-4 gap-3">
                <div class="col-span-4 content-center">
                    <span class="w-full">
                      <span class="font-semibold text-[25px]">Paso 1:</span> <span class="text-[25px] font-light"> Conoce todas las
                          Características del Robot</span>
                    </span>
                    <hr
                    class="my-8 h-[1px] border-t-0 bg-[#DDDDDDDD] dark:bg-[#DDDDDDDD]"
                  />
                  </div>

                <div class="col-span-4 md:col-span-4 sm:col-span-4 lg:col-span-2">
                  <div>
                    <img src="img/step_1.png" alt="" />
                  </div>
                </div>

                <div class="col-span-4 m-[30px] md:col-span-4 sm:col-span-4 lg:col-span-2">
                  <div class="flex flex-col py-[20px]">
                    <span class="font-semibold text-[40.6px] text-[#0C2B4B]"
                      >Robots de Forex</span
                    >
                    <div>
                      <span
                        class="py-[10px] text-[18.8px] font-bold text-[#0C2B4B]"
                        >Escoge la licencia bajo la cual quieres que opere tu
                        Robot
                      </span>
                      <span></span>
                    </div>
                  </div>

                  <div
                    class="flex flex-col w-full p-[15px] rounded-md border-2 border-[#D9D9D9] rounded-md border-2 border-[#D9D9D9]"
                  >
                    <span class="font-semibold text-[39.6px] text-[#0C2B4B]"
                      >Bronce</span
                    >
                    <span class="text-[#848D97] text-[22px]"
                      >1 mes de duración</span
                    >
                    <div class="flex justify-between">
                      <div>
                        <span>$ 950 usd</span>
                      </div>
                      <div>
                        <span>+ 1 Estrategias gratuitas</span>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
          <div class="flex pt-4 items-center justify-content-end">
            <img src="img/back-ligth.png" class="w-[17px] h-[17px]" alt="">
            <a href="#" class="text-[#0574F7]"  (onClick)="nextCallback.emit()">Volver atrás / todos los robots</a>
          </div>
        </ng-template>
      </p-stepperPanel>
      <p-stepperPanel>
        <ng-template
          pTemplate="content"
          let-prevCallback="prevCallback"
          let-nextCallback="nextCallback"
          let-index="index"
        >
          <div class="flex flex-column h-12rem w-full">
            <div
              class="mx-[10px] surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium"
            >
              <section class="grid grid-cols-6 gap-3">
                <div class="col-span-6 content-center my-[15px]">
                  <span class="w-full">
                    <span class="font-semibold text-[25px]">Paso 2:</span> <span class="text-[25px] font-light"> Selecciona la
                        cantidad de estrategias de acuerdo a la licencia</span>
                  </span>
                  <hr
                    class="my-8 h-[1px] border-t-0 bg-[#DDDDDDDD] dark:bg-[#DDDDDDDD]"
                  />

                  <div class="flex justify-between">
                    <span class="font-semibold text-[25px]">
                        Licencia Oro: 3 estrategias
                      </span>
                      <span class="font-semibold text-[20px] text-[#0574F7]">
                        3/3 estrategias seleccionadas
                      </span>
                  </div>
                 
                </div>

                <div
                  class="sm:col-span-6 md:col-span-6 lg:col-span-2 border border-round rounded-md border-2 border-[#D9D9D9] p-[15px]"
                >
                  <div class="flex items-center mb-[20px] gap-3">
                    <img src="img/stadistics.png" alt="" />
                    <span class="text-xl">Estrategia 1</span>
                  </div>
                  <div class="mb-[10px]">
                    <span class="text-[#53585E] font-poppins leading-5"
                      >Get to know your guest and optimize their experience in
                      your hotel</span
                    >
                  </div>
                  <div class="flex justify-between py-[10px]">
                    <button
                      class="border border-round rounded-md px-[17px] py-[5px] border-2 border-[#E2E5EA]"
                    >
                      Ver información
                    </button>
                    <button
                      class="border border-round rounded-md border-2 border-[#0574F7] text-[#0574F7] px-[17px] py-[5x] px-[17px] flex items-center"
                    >
                      <img src="img/cart-ligth.png" alt="" />
                      Añadir
                    </button>
                  </div>
                </div>
                <div
                class="sm:col-span-6 md:col-span-6  lg:col-span-2 border border-round rounded-md border-2 border-[#D9D9D9] p-[15px]"
              >
                <div class="flex items-center mb-[20px] gap-3">
                  <img src="img/stadistics.png" alt="" />
                  <span class="text-xl">Estrategia 1</span>
                </div>
                <div class="mb-[10px]">
                  <span class="text-[#53585E] font-poppins leading-5"
                    >Get to know your guest and optimize their experience in
                    your hotel</span
                  >
                </div>
                <div class="flex justify-between py-[10px]">
                  <button
                    class="border border-round rounded-md px-[17px] py-[5px] border-2 border-[#E2E5EA]"
                  >
                    Ver información
                  </button>
                  <button
                    class="border border-round rounded-md border-2 border-[#0574F7] text-[#0574F7] px-[17px] py-[5x] px-[17px] flex items-center"
                  >
                    <img src="img/cart-ligth.png" alt="" />
                    Añadir
                  </button>
                </div>
              </div>
              <div
              class="sm:col-span-6 md:col-span-6  lg:col-span-2 border border-round rounded-md border-2 border-[#D9D9D9] p-[15px]"
            >
              <div class="flex items-center mb-[20px] gap-3">
                <img src="img/stadistics.png" alt="" />
                <span class="text-xl">Estrategia 1</span>
              </div>
              <div class="mb-[10px]">
                <span class="text-[#53585E] font-poppins leading-5"
                  >Get to know your guest and optimize their experience in
                  your hotel</span
                >
              </div>
              <div class="flex justify-between py-[10px]">
                <button
                  class="border border-round rounded-md px-[17px] py-[5px] border-2 border-[#E2E5EA]"
                >
                  Ver información
                </button>
                <button
                  class="border border-round rounded-md border-2 border-[#0574F7] text-[#0574F7] px-[17px] py-[5x] px-[17px] flex items-center"
                >
                  <img src="img/cart-ligth.png" alt="" />
                  Añadir
                </button>
              </div>
            </div>
              </section>
            </div>
          </div>
          <div class="flex pt-4 items-center justify-content-between">
            <img src="img/back-ligth.png" class="w-[17px] h-[17px]" alt="">
                <a href="#" class="text-[#0574F7]"  (onClick)="prevCallback.emit()">Volver atrás / todos los robots</a>
           
          </div>
        </ng-template>
      </p-stepperPanel>
      <p-stepperPanel>
        <ng-template
          pTemplate="content"
          let-prevCallback="prevCallback"
          let-index="index"
        >
          <div class="flex flex-column h-12rem">
            <div
              class="mx-[10px] surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium"
            >
              <section class="grid grid-cols-4 gap-3">
                <div class="col-span-4 content-center">
                  <span class="w-full">
                    <span class="font-semibold text-[25px]">Paso 3:</span> <span class="text-[25px] font-light"> Conoce todas las
                        Características del Robot</span> 
                  </span>
                  <hr
                  class="my-8 h-[1px] border-t-0 bg-[#DDDDDDDD] dark:bg-[#DDDDDDDD]"
                />
                </div>

                <div class="col-span-4 sm:col-span-4 md:col-span-4 lg:col-span-2">
                    <img src="img/step_1.png" alt="" />
                </div>

                <div class="col-span-4 sm:col-span-4 md:col-span-4 lg:col-span-2 m-[30px]">
                  <div class="flex flex-col py-[20px]">
                    <span class="font-semibold text-[40.6px] text-[#0C2B4B]"
                      >Robots de Forex</span
                    >
                    <div class="py-[15px]">
                      <span class="text-[18.8px] font-light text-[#0C2B4B]"
                        >Nuestro EA de Forex es un sistema 100 % automático, el
                        cual ejecuta operaciones de manera algorítmica basandose
                        en 3 distintas estrategias para sacar beneficio del
                        mercado haciendo Scalping.
                      </span>
                    </div>
                    <hr
                      class="my-6 h-0.5 border-t-0 bg-[#DDDDDDDD] dark:bg-[#DDDDDDDD]"
                    />
                    <div class="flex flex-col my-[10px]">
                      <span class="font-bold text-[23px] text-[#0C2B4B]"
                        >Licencia seleccionada</span
                      >
                      <span class="font-normal text-[#0C2B4B]"
                        >Esta licencia es la única asociada a este Robot, podrás
                        ver todas su información antes de adquirirla</span
                      >
                    </div>
                  </div>

                  <div
                    class="flex flex-col w-full p-[15px] my-[38px] rounded-md border-2 border-[#0574F7] rounded-md border-2"
                  >
                    <span class="font-semibold text-[39.6px] text-[#0C2B4B]"
                      >Oro</span
                    >

                    <div class="flex justify-between">
                      <div>
                        <span>$ 1200 usd</span>
                      </div>
                      <div>
                        <span class="text-[#0574F7]"
                          >+ 3 Estrategias gratuitas</span
                        >
                      </div>
                    </div>
                  </div>
                  <div class="flex flex-col my-[38px]">
                    <div class="flex flex-col">
                      <span class="text-[22px] text-[#0C2B4B] font-bold"
                        >(4) Estrategias seleccionadas</span
                      >
                      <span class="my-[10px]"
                        >Estrategias seleccionadas de acuerdo a la
                        licencia</span
                      >
                    </div>
                    <div class="flex flex-wrap justify-between pt-[45px]">
                      <span class="text-[33px] text-[#0C2B4B] font-bold"
                        >Subtotal de la compra:
                      </span>
                      <span class="text-[33px]"> $1,200 usd</span>
                    </div>
                    <hr
                      class="my-8 h-[1px] border-t-0 bg-[#DDDDDDDD] dark:bg-[#DDDDDDDD]"
                    />
                  </div>
                  <div
                    class="flex flex-col w-full p-[15px] my-[38px] rounded-md border-2 border-[#F3F8FF] rounded-md border-2 bg-[#F3F8FF]"
                  >
                    <span class="font-bold text-[20.6px] text-[#0C2B4B] pt-[10px]"
                      >Añade más potencia a tu Robot</span
                    >
                    <span class="font-light pt-[10px]"
                      >Compra tantas estrategias quieras para la operación de tu
                      Robot en el mercado</span
                    >
                    <div class="flex gap-3 pt-[10px]">
                      <img src="img/store-ligth.png" alt="" />
                      <a class="text-[#0574F7]">Ver tienda de estrategias</a>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
          <div class="flex pt-4 justify-between">
            <div class="flex items-center w-1/2">
                <img src="img/back-ligth.png" class="w-[17px] h-[17px]" alt="">
                <a href="#" class="text-[#0574F7] w-full"  (onClick)="prevCallback.emit()">Volver atrás / todos los robots</a>
            </div>
            <div class="flex ">
                <button class="bg-[#0574F7] text-white px-[15px] py-[8px] border rounded-lg flex gap-3"> <img src="img/cart-white.png" alt=""> Continuar al carrito</button>
            </div>
           
          </div>
        </ng-template>
      </p-stepperPanel>
    </p-stepper>
  </div>
</section>



