<main class="bg-[#EFF0F6] pb-10 sm:pb-20 md:pb-40 lg:pb-60">
  <h3 class="font-semibold text-center mb-4 sm:mb-10 md:mb-14 lg:mb-[70px]">Proceso guiado de compra</h3>
  <div class="bg-white border rounded-lg mt-[10px]">
    <p-stepper
      [linear]="true"
      class="w-full"
      (activeIndexChange)="onActiveIndexChange($event)"
    >
      <p-stepperPanel>
        <ng-template
          pTemplate="content"
          let-nextCallback="nextCallback"
          let-index="index"
          let-active="false"
        >
          <app-step-one-available-licenses
            (nextCallback)="nextCallback.emit()"
            [robot]="robot"
          ></app-step-one-available-licenses>
        </ng-template>
      </p-stepperPanel>
      <p-stepperPanel>
        <ng-template
          pTemplate="content"
          let-prevCallback="prevCallback"
          let-nextCallback="nextCallback"
          let-index="index"
          let-active="false"

        >
          <app-step-two-strategies
            [robot]="robot"
            (prevCallback)="prevCallback.emit()"
            (nextCallback)="nextCallback.emit()">
        </app-step-two-strategies>
        </ng-template>
      </p-stepperPanel>
      <p-stepperPanel>
        <ng-template
          pTemplate="content"
          let-prevCallback="prevCallback"
          let-index="index"
        >
          <app-step-three-details
            [robot]="robot"
            (prevCallback)="prevCallback.emit()"
          ></app-step-three-details>
        </ng-template>
      </p-stepperPanel>
    </p-stepper>
    
  </div>
</main>
