<div class="w-full flex flex-col bg-[#F8F8F8] rounded-[20px] px-[50px] py-[50px] gap-10">
    <h5 class="sm:text-[28px] font-medium text-[#22262A] font-poppins">Detalles de la compra</h5>

    <div class="w-full flex flex-col gap-3">
        <div class="flex justify-between">
            <span class="paragraph">Subtotal</span>
            <span class="paragraph">$998</span>
        </div>
        <div class="flex justify-between">
            <span class="paragraph">Cantidad de productos</span>
            <span class="paragraph">2</span>
        </div>
        <div class="flex justify-between">
            <span class="paragraph">Codigo de descuento</span>
            <span class="paragraph">No</span>
        </div>
    </div>

    <div class="w-full flex justify-between">
        <span class="text-3xl font-poppins font-medium text-[#22262A]">Total</span>
        <span class="text-3xl font-poppins font-medium text-[#22262A]">$118,00 usd</span>
    </div>

    <div class="w-full">
        <button class="btn btn-primary w-full py-3" (click)="goCheckout()">Finalizar compra</button>
    </div>
</div>