<div class="w-full flex flex-col bg-[#F8F8F8] rounded-[20px] p-6 sm:px-[50px] sm:py-[50px] gap-10">
    <h1 class="p1-ws font-medium text-[#22262A] font-poppins">Detalles de la compra</h1>

    <div class="w-full flex flex-col gap-3">
        <div class="flex justify-between">
            <span class="p5-ws font-poppins text-[#262626]">Subtotal</span>
            <span class="p5-ws font-poppins text-[#262626]">${{ purchaseService.subtotal() }}</span>
        </div>
        <div class="flex justify-between">
            <span class="p5-ws font-poppins text-[#262626]">Cantidad de productos</span>
            <span class="p5-ws font-poppins text-[#262626]">{{ purchaseService.shoppingCart().length }}</span>
        </div>
        <div class="flex justify-between">
            <span class="p5-ws font-poppins text-[#262626]h">Codigo de descuento</span>
            <span class="p5-ws font-poppins text-[#262626]">No</span>
        </div>
    </div>

    <div class="w-full flex justify-between">
        <h6 class="font-poppins font-medium text-[#22262A]">Total</h6>
        <h6 class="font-poppins font-medium text-[#22262A]">${{ purchaseService.subtotal() }} usd</h6>
    </div>

    <div class="w-full">
        <button class="btn btn-primary w-full" (click)="goCheckout()">Finalizar compra</button>
    </div>
</div>